<!--The content below is only a placeholder and can be replaced.-->
<nav-bar></nav-bar>
<h1> yokel Test pages </h1>

<p> It is better to go skiing and think of God, than go to church and think of sport. Pine mountain brighton ferme pebble creek sundown rumble mars hill alta magic mountain skiland mad river glen pinhead. Sparks lane eaglecrest mount baker courchevel winter park. Loup loup koflach scott bunny hill bonk suicide six pine mountain brighton. Mashed potatoes bear mountain china peak faceplant ducking the rope sundown rasta stevie badlands sno-park edge head ferme. Glen plake chamonix swix ingrid backstrom. 
</p>  

<button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"> Login</button>

<a routerLink="/login-page/login-page.component.html"><button class="btn btn-success pull-right" > Sign up</button></a>




