<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<title>yokel</title>
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>

	<div class="container">
		<div class="row">
			<!-- 12 column width -->
        	<div class="col-lg-12">
        		<h1>yokel</h1>
				<div class="tagline">Be a local in every city you visit.</div>
			</div>
		</div>
	</div>

	<hr>
	<!-- HEADER -->
	<div class="container-about">
		<div class="row">
			<!-- 12 column width -->
        	<div class="col-lg-12">
				<h2>About yokel</h2>
				<p>Through our yokel app community and message boards, yokel brings more interesting and personal experiences to travelers in cities around the world. Founded in 2017, yokel was built by developers who are also seeking new travel experiences at the local level. We hope you enjoy becoming a local yokal.</p>
			</div>
			<!-- <a href="/login"><button type="button" class="btn btn-primary btn-lg landing" >get yokel</button></a> -->
		</div>
	</div>

	<div class="container-about">
		<div class="row">
			<!-- 12 column width -->
        	<div class="col-lg-12">
				<h2>Contributors</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- contributor 1 -->
		<div class= "container-bio">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<img class="img-circle" src="../assets/hung.png">
			</div>
			<div class="shout">
				<h3>Hung</h3>
				<p>PSQL Server, Oauth login authentication.</p>
				<a href="https://github.com/hungmuha" target="_blank">visit Hung's github</a>
			</div>
		</div>
		<br>
		<hr>
		<!-- contributor 2 -->
		<div class= "container-bio">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<img class="img-circle" src="../assets/sam.png">
			</div>
			<div class="shout">
				<h3>Sam</h3>
				<p>PSQL database on Heroku server, Instagram creation & routing.</p>
				<a href="https://github.com/samascher/" target="_blank">visit Sam's github</a>
			</div>
		</div>
		<br>
		<hr>
		<!-- contributor 3 -->
		<div class= "container-bio">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<img class="img-circle" src="../assets/zach.png">
			</div>
			<div class="shout">
				<h3>Zach</h3>
				<p>Angular commponents, front-end routing & design. </p>
				<a href="https://github.com/Mazkid21" target="_blank">visit Zach's github</a>
			</div>
		</div>
		<br>
		<hr>
		<!-- contributor 4 -->
		<div class= "container-bio">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<img class="img-circle" src="../assets/lauren.png">
			</div>
			<div class="shout">
				<h3>Lauren</h3>
				<p>Front-end design, branding, styles, CSS3 animations, tagline, & copy.</p>
				<a href="https://github.com/luluwelborn" target="_blank">visit Lauren's github</a>
				<!-- <a href="https://laurenwelborn.com" target="_blank">visit Lauren's site</a> -->
			</div>
		</div>
	</div>
	<br>

	<hr>

	<!-- FOOTER -->
	<div class="container-footer">
		<div class="row">
			<div class="col-lg-12">
					<li class="container-footer">yokel & copy 2017</li>
					<li class="container-footer"><a routerLink='/about-page'>About yokel</a></li>
			</div>
		</div>
	</div>

</body>
</html>