
a	{
	color: white;
	font-size: 14px;
	display: block;


}

a:hover {
	color: #3F9170;
	text-decoration: none;
}

.nav-bar {
	width: 100%;
	height:30px;
	background-color: #5EC295;
	float: right;
	display: flex;
  	justify-content: flex-end;
  	margin-bottom: 20px;
  
  

}

.nav-text {
	
	margin: 20px 10px;
	align-self: center;
}