<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<title>yokel</title>
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<base href="/">
</head>

<body class="landing">
	<div class="container">
		<div class="row">
			<!-- 12 column width -->
        	<div class="col-lg-12">
        		<h1 class="landing">yokel</h1>
				<div class="tagline">Be a local in every city you visit.</div>
				<br>
				<p class="landing">At yokel we believe life is all about connecting with people and creating individualized, memorable travel experiences. Through our location forums you can message with real locals on things to do and see, or browse previous threads to get some ideas. Get yokel and bring local’s experiences to you and the entire community.</p>
				<button type="button" class="btn btn-primary btn-lg landing" routerLink="/login-page">get yokel</button>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<div class="container-footer-landing">
		<div class="row">
			<div class="col-lg-12">
					<li class="container-footer">yokel & copy 2017</li>
					<li class="container-footer"><a routerLink="/about-page">About yokel</a></li>
			</div>
		</div>
	</div>

</body>
</html>
